<div class="container">
    <mat-grid-list cols="3" rowHeight="1:1">
      <mat-grid-tile>
        <mat-card class="example-card">
          <mat-card-title>Datos obtenidos por observable</mat-card-title>
          <mat-card-content>
            <ul>
              <li *ngFor="let dato of alumnos$ | async">
                <span>{{ dato.nombre }}</span>
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="example-card">
          <mat-card-title>Números obtenidos por observable</mat-card-title>
          <mat-card-content>
            <ul>
              <li *ngFor="let numero of datos_numbers">
                <span>{{ numero }}</span>
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="example-card">
          <mat-card-title>Datos obtenidos por promesa</mat-card-title>
          <mat-card-content>
            <ul>
              <li *ngFor="let dato of alumnos$ | async">
                <span>{{ dato.email }}</span>
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
</div>
    