.sections{
    height: 90%;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 0;
    border-right: 0.5px solid black;
    border-radius: 50px;
    padding-top: 10px;
}

.links{
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.links li{
    padding-top: 20px;
}

.sections li a{
    text-decoration: none;
    color: rgb(15, 101, 172);   
}

.logo{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

@media (max-width: 1280px){
    a, h4{font-size: 12px;}
}
