<ul class="nav nav-pills flex-column mb-auto">
    <li>
        <a href="#" class="nav-link link-dark">
          <svg class="bi me-2"></svg>
          Vuelos
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link active">
          <svg class="bi me-2"></svg>
          Destinos
        </a>
      </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <svg class="bi me-2"></svg>
        Sucursales
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <svg class="bi me-2"></svg>
        Paquetes Turisticos
      </a>
    </li>
    <li>
     <a href="#" class="nav-link link-dark">
        <svg class="bi me-2"></svg>
        Cruceros
     </a>
    </li>
    <li>
        <a href="#" class="nav-link link-dark">
          <svg class="bi me-2"></svg>
          Ofertas
        </a>
      </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <svg class="bi me-2"></svg>
        Contacto
      </a>
    </li>
</ul>