<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="card">
                <img src="../../../assets/ushuaia.webp" class="card-img-top"/>
                <div class="card-body">
                    <h4 class="card-title">Ushuaia</h4>
                    <a class="btn btn-primary d-grid gap-2">Información</a>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
                <img src="../../../assets/madrid.jpeg" class="card-img-top"/>
                <div class="card-body">
                    <h4 class="card-title">Madrid</h4>
                    <a class="btn btn-primary d-grid gap-2">Información</a>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
                <img src="../../../assets/miami2.webp" class="card-img-top"/>
                <div class="card-body">
                    <h4 class="card-title">Miami</h4>
                    <a class="btn btn-primary d-grid gap-2">Información</a>
                </div>
            </div>
        </div>
    </div>
</div>
