<h1>Registro de alumnos</h1>

<form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Nombre</label>
        <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre">
      </div>
      <div *ngIf="(this.formulario.get('nombre')?.invalid && (this.formulario.get('nombre')?.dirty || this.formulario.get('nombre')?.touched))" class="alert alert-danger">
        <span *ngIf="this.formulario.get('nombre')?.errors?.['required']">(Este campo es obligatorio)</span>
        <span *ngIf="this.formulario.get('nombre')?.errors?.['pattern']">(Ingresar solo letras)</span>
        <span *ngIf="this.formulario.get('nombre')?.errors?.['minlength']">(Como mínimo 2 caracteres)</span>
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Apelllido</label>
        <input type="text" class="form-control" placeholder="Apellido" formControlName="apellido">
      </div>
      <div *ngIf="(this.formulario.get('apellido')?.invalid && (this.formulario.get('apellido')?.dirty || this.formulario.get('apellido')?.touched))" class="alert alert-danger">
        <span *ngIf="this.formulario.get('apellido')?.errors?.['required']">(Este campo es obligatorio)</span>
        <span *ngIf="this.formulario.get('apellido')?.errors?.['pattern']">(Ingresar solo letras)</span>
        <span *ngIf="this.formulario.get('apellido')?.errors?.['minlength']">(Como mínimo 2 caracteres)</span>
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Edad</label>
        <input type="number" class="form-control" placeholder="99" formControlName="edad">
      </div>
      <div *ngIf="(this.formulario.get('edad')?.invalid && (this.formulario.get('edad')?.dirty || this.formulario.get('edad')?.touched))" class="alert alert-danger">
        <span *ngIf="this.formulario.get('edad')?.errors?.['required']">(Este campo es obligatorio)</span>
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" placeholder="Email" formControlName="email">
      </div>
      <div *ngIf="(this.formulario.get('email')?.invalid && (this.formulario.get('email')?.dirty || this.formulario.get('email')?.touched))" class="alert alert-danger">
        <span *ngIf="this.formulario.get('email')?.errors?.['required']">(Este campo es obligatorio)</span>
        <span *ngIf="this.formulario.get('email')?.errors?.['email']">(Debe ser un email válido)</span>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" placeholder="Password" formControlName="password">
      </div>
    </div>
    <div *ngIf="(this.formulario.get('password')?.invalid && (this.formulario.get('password')?.dirty || this.formulario.get('password')?.touched))" class="alert alert-danger">
      <span *ngIf="this.formulario.get('password')?.errors?.['required']">(Este campo es obligatorio)</span>
      <span *ngIf="this.formulario.get('password')?.errors?.['minlength']">(Como mínimo 8 caracteres)</span>
    </div>
    <div class="form-group">
      <label for="inputAddress">Domicilio</label>
      <input type="text" class="form-control" placeholder="1234 Main St" formControlName="domicilio">
    </div>
    <div *ngIf="(this.formulario.get('domicilio')?.invalid && (this.formulario.get('domicilio')?.dirty || this.formulario.get('domicilio')?.touched))" class="alert alert-danger">
      <span *ngIf="this.formulario.get('domicilio')?.errors?.['required']">(Este campo es obligatorio)</span>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputState">Ciudad</label>
        <select class="form-select" aria-label="Disabled select example" formControlName="ciudad">
          <option value="">Seleccionar...</option>
          <option *ngFor="let ciudad of ciudades" [ngValue]="ciudad">{{ciudad}}</option>
        </select>
      </div>
      <div *ngIf="(this.formulario.get('ciudad')?.invalid && (this.formulario.get('ciudad')?.dirty || this.formulario.get('ciudad')?.touched))" class="alert alert-danger">
        <span *ngIf="this.formulario.get('ciudad')?.errors?.['required']">(Este campo es obligatorio)</span>
      </div>
    </div>
    <br><br>
    <button type="submit" class="btn btn-outline-primary" [disabled]="formulario.invalid">Enviar Formulario
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
        </svg>
    </button>
  </form>
