form {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 30px;
    padding-bottom: 20px;
}

h1 {
    background-color: cadetblue;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

button {
    margin-left: 33.33%;
    margin-right: 33.33%;
}